@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link href="~/css/registerpage.css" rel="stylesheet" />

<div class="d-flex justify-content-center align-items-center min-vh-15">
    <div class="col-md-6 col-lg-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="shadow p-4 rounded">
            <div class="text-center mb-4">
                <h2 class="h4 mb-3 font-weight-normal" style="color: rgb(30, 142, 62);">Create your account</h2>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control form-control-sm" placeholder="Enter your username" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control form-control-sm" placeholder="Enter your email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control form-control-sm" placeholder="Enter your password" type="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control form-control-sm" placeholder="Enter your password again" type="password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between align-items-center mt-4">
                <p class="mb-0">Already have an account? <a href="/Identity/Account/Login" style="color: rgb(30, 142, 62);">Login</a></p>
                <button type="submit" class="btn btn-primary" style="background-color: rgb(30, 142, 62); border-color: rgb(30, 142, 62); color: white">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
