

.Lqr2e {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 1;
    height: 23.75rem;
    margin-bottom: 1.875rem;
    max-height: 15rem;
    width: 90%;
}



.FAtkpf > * {
    flex-shrink: 0;
}

* {
    -webkit-tap-highlight-color: transparent;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.FAtkpf {
    -webkit-box-align: center;
    align-items: center;
    height: calc(100vh - 4rem);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    -webkit-box-pack: center;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 4rem;
}

.hcjKL {
    position: absolute;
    right: .3125rem;
    top: .3125rem;
}

.GqugBc {
    height: 4.375rem;
    position: relative;
    left: 1.9375rem;
}


.nt2KVb {
    width: 11.25rem;
}

.asQXV {
    letter-spacing: .0178571429em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
}  
  .KUqHO {
    box-sizing: border-box;
    justify-content: flex-start;
    padding-top: 7.5rem;
    text-align: center;
}

